.task-bar {
  margin-left: 3em;
  width: 500px;
  font-size: 0.7em;
  text-align: left;
}

.labeller-header {
  padding-top: 1em;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}